<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link type="text/css" rel="stylesheet" href="styles/styles.css" >
</head>
<body>
    <header class="mb-3 flex justify-between items-center flex-row p-5 border-b bg-white shadow">
        <a href="/"><h1 class="text-3xl font-black" >EXPRESS JS</h1></a>
        <div>
            <a class="cursor-pointer " href="/agregar" ><input class="bg-green-700  text-white font-bold  px-4 py-2 rounded cursor-pointer " type="button" value="Agregar"></a>
            <input href="/agregar " class="bg-red-800 text-white font-bold  px-4 py-2 rounded cursor-pointer" type="button" value="Borrar">
        </div>
    </header>
    <main id="main" class="container mx-auto">
        <table id="table" class="border-collapse w-full">
            <thead>
                <tr>
                    <th class="p-3 font-bold uppercase bg-gray-200 text-gray-600 border border-gray-300 hidden lg:table-cell">ID</th>
                    <th class="p-3 font-bold uppercase bg-gray-200 text-gray-600 border border-gray-300 hidden lg:table-cell">Nombre</th>
                    <th class="p-3 font-bold uppercase bg-gray-200 text-gray-600 border border-gray-300 hidden lg:table-cell">Número celular</th>
                    <th class="p-3 font-bold uppercase bg-gray-200 text-gray-600 border border-gray-300 hidden lg:table-cell">Actions</th>
                </tr>
            </thead>
            <tbody id="tbody">
              
               
           
            </tbody>
        </table>
        

        
    </main>
    <script src="scripts/index/app.index.js"></script>
    <script src="scripts/api.js"></script>
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</body>
</html>